* {
    margin: 0;
    padding: 0;
}

.content .main-post {
    width: 100%;
    min-height: 800px;
    background: pink;
}

.content .main-content {
    height: 400px;
    background: rgb(114, 213, 252);
    margin: 5px 10px;
}

.content .main-post h2 {
    font-size: 2.3em;
}

.content .main-post .img-content {
    height: 300px;
    background: rgb(63, 96, 243);
    width: 100%;
    margin: 10px 80px;
}

.content .tag-content {
    height: 50px;
    background: rgb(29, 231, 120);
    margin: 5px 2px;
}

.content .relate-post {
    width: 100%;
    min-height: 300px;
    background: rgb(250, 192, 214);
    margin: 10px 0px;
}

.relate-post .img-relate {
    height: 200px;
    background: rgb(160, 238, 87);
    margin: 10px 10px;
}

.relate-post .content-relate {
    height: 100px;
    background: rgb(223, 177, 77);
    margin: 5px 10px;
}

.relate-post .content-relate a {
    text-decoration: none;
    font-size: 1.3em;
}