* {
    margin: 0;
    padding: 0;
}

.main-menu-560px {
    display: none;
}

a {
    /* font-size: 1.2em; */
    color: #000;
}

.header {
    width: 100%;
    height: 120px;
    background: #000;
}

.header a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

.header .logo-user {
    width: 40px;
    height: 40px;
    margin-left: 450px;
    position: relative;
    display: none;
}

.header .logo-user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    bottom: 1px;
}

.header .logo {
    text-align: center;
}

.header .logo a {
    text-decoration: none;
    font-size: 2em;
}

.header .menu ul {
    list-style: none;
    line-height: 55px;
}

.header .menu ul li {
    display: inline;
    padding: 33px 10px;
    transition: all 0.3s;
    position: relative;
}

.header .menu ul li a {
    text-decoration: none;
}

.header .search-login {
    line-height: 55px;
    width: 100%;
    float: right;
    margin-left: 200px;
}

.header .search-login input {
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1.5px solid#fff;
    outline: none;
    color: #fff;
    font-style: italic;
}

.header .search {
    float: left;
    margin-left: 100px;
    position: relative;
}

.header .login {
    height: 100px;
    float: left;
    width: 190px;
}

.header .login ul {
    float: left;
}

.header .login ul li {
    display: inline;
    padding: 0px 5px;
    list-style: none;
}

.header .search .btn-search {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    position: absolute;
    right: 10px;
}

.header .menu ul li .sub-menu {
    line-height: 30px;
    background: #fff;
    position: absolute;
    left: -38px;
    top: 100px;
    text-align: center;
    width: 170px;
    display: none;
    float: unset;
    z-index: 100000;
    color: #000;
    box-shadow: 0px 0px 3px 3px rgba(173, 170, 170, 0.952);
}

.header .menu ul li .sub-menu a {
    color: #000;
    font-size: 1.2em;
}

.header .menu ul li:hover>.sub-menu {
    display: block;
    top: 90px;
}

.header .menu ul li a:hover {
    color: rgb(240, 65, 22);
}

.header .menu ul li .sub-menu li {
    padding: 15px;
}

.bn-right-cnt img,
.bn-right-cnt-bottom-right img,
.bn-right-cnt-bottom-left img {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    min-height: 900px;
    /* background: yellow; */
}

.content .main-cnt {
    width: 100%;
    height: 800px;
    /* background: rgb(248, 7, 108); */
}

.content .menu-cnt {
    width: 100%;
    height: 50px;
    /* background: rgb(4, 36, 77); */
}

.content .menu-cnt .main-menu-cnt {
    width: 30%;
    height: 100%;
    background: #000;
    float: left;
}

.content .menu-cnt .sub-menu-cnt {
    width: 70%;
    height: 100%;
    /* background: rgb(241, 147, 6); */
    float: right;
    border-bottom: 2px solid #000;
    list-style: none;
    text-align: right;
    line-height: 50px;
}

.content .menu-cnt .sub-menu-cnt li {
    display: inline;
    padding: 0px 10px;
}

.content .menu-cnt .sub-menu-cnt li a {
    text-decoration: none;
    font-size: 16px;
}

.post {
    width: 100%;
    min-height: 600px;
    /* background: rgb(119, 140, 231); */
}

.post .img {
    width: 100%;
    height: 250px;
    background: rgb(46, 3, 32);
    margin: 10px 0px;
}

.post .img img {
    width: 100%;
    height: 100%;
}

.post .decs {
    width: 100%;
    height: 250px;
    /* background: rgb(11, 56, 41); */
    margin: 10px 0px;
}

.post .decs a {
    text-decoration: none;
}

.content .hig {
    width: 100%;
    min-height: 400px;
    /* background: rgb(7, 226, 55); */
    box-shadow: 0px 0px 3px 3px rgba(173, 170, 170, 0.952);
}

.content .hig .name-hig {
    width: 100%;
    height: 50px;
    background: rgb(248, 9, 9);
}

.hig .name-hig h4 {
    line-height: 55px;
    color: aliceblue;
    text-align: center;
}

.post-hig {
    width: 100%;
    height: 600px;
    background: #fff;
}

.post-hig a {
    text-decoration: none;
}

.post-hig .posthig {
    margin: 0px 5px;
}

.post-hig .img {
    width: 100%;
    height: 120px;
    background: rgb(46, 3, 32);
    margin: 10px 0px;
}

.post-hig .img img {
    width: 100%;
    height: 100%;
}

.post-hig .decs {
    width: 100%;
    height: 120px;
    /* background: rgb(11, 56, 41); */
    margin: 10px 0px;
}

.footer {
    width: 100%;
    min-height: 80px;
    background: #000;
}

.main-menu-cnt-title {
    padding: 10px;
    color: aliceblue;
}

.footer .logo-footer .inf-footer {
    min-height: 73px;
    margin: 3px 0px;
    position: relative;
}

.footer .logo-footer img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer .inf-footer p {
    text-align: center;
    color: #fff;
    font-size: 1.2em;
}

.menu-nav {
    display: none;
}


/* reposive */

@media only screen and (max-width: 560px) {
    .header {
        height: 50px;
        width: 100%;
    }
    .menu-nav {
        display: block;
        width: 100%;
        height: 50px;
    }
    .menu-nav .icon-menu {
        padding: 5px;
    }
    .menu-nav .icon-menu div {
        display: block;
        width: 35px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0px;
        margin-left: 20px;
    }
    #header {
        display: none;
    }
    .search-login-user-560px {
        width: 100%;
        padding: 5px 0px;
        height: 50px;
    }
    .search-login-user-560px input {
        width: 60%;
        float: left;
        margin: 5px 0px;
    }
    .search-login-user-560px .btn-search {
        border: none;
        background: none;
        outline: none;
        color: #fff;
        margin: 5px;
        float: left;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-40deg) translate(-14px, 0px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(40deg) translate(-14px, -0px);
    }
    .search-login-user-560px .logo-user-560px {
        width: 30px;
        height: 30px;
        background: none;
        float: right;
        position: relative;
        margin: 5px;
    }
    .search-login-user-560px .logo-user-560px span {
        font-size: 1.6em;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .icon-menu .main-menu-560px {
        width: 100px;
        min-height: 50px;
        z-index: 10000;
        position: relative;
        list-style: none;
        box-shadow: 0px 0px 3px 3px rgba(173, 170, 170, 0.952);
        background: #000;
        margin: 20px -5px;
    }
    .menu-nav .sub-menu-560px {
        display: none;
        width: 85%;
        min-height: 50px;
        z-index: 10000;
        position: relative;
        list-style: none;
        box-shadow: 0px 0px 3px 3px rgba(173, 170, 170, 0.952);
        background: #000;
        margin: 5px 15px;
    }
    .menu-nav .icon-menu:active>ul {
        display: block;
        color: rgb(228, 134, 47);
    }
    .icon-menu .main-menu-560px li a:active>.sub-menu-560px {
        display: block;
        color: rgb(228, 134, 47);
    }
    .active {
        display: block;
    }
}