@font-face {
    src: url(fonts/IMV-ArnhemFinePro-NormalItalic.ttf);
    font-family: ArnhemFinePro;
}

* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

.header-main {
    height: 110px;
    z-index: 10;
    position: relative
}

.right-elements {
    max-height: 100%;
    margin-left: auto;
}

.right-elements-align {
    visibility: visible;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.right-elements ul {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-elements ul li {
    list-style: none;
    padding-right: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.right-elements ul li a {
    line-height: 40px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #333;
    width: auto;
    font-size: 14px;
    font-weight: normal;
    font-family: inherit;
    outline: none;
    text-align: left;
}

.menu {
    padding: 0 0;
    margin: 0 0;
}

.menu .menu__right {
    padding: 10px 10px;
}

.menu__right ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
}

.menu__right ul li {
    padding: 10px 0;
}

.menu__right ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-weight: 500;
    margin: 0 20px;
}

.nav-top {
    outline: none !important;
    border: 0;
}

.border-header {
    border-top: 1px solid #e4e1e1;
    border-bottom: 1px solid #e4e1e1;
}

.form-input-search {
    border: 0;
    border-radius: 0;
    outline: none !important;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    text-transform: uppercase;
    padding-left: 10px !important;
}

.form-layer input[type="search"]::-webkit-input-placeholder {
    font-size: 12px;
}

.form-button-search {
    border: 0;
    border-radius: 0;
    outline: none !important;
    border-right: 1px solid #e5e5e5;
}

.social-facebook,
.social-instagram {
    border: 0;
    border-radius: 40px;
    color: white;
    width: calc(1.5em + .75rem - 2px) !important;
    height: calc(1.5em + .75rem - 2px) !important;
    line-height: 20px;
    margin-left: 5px;
}

.social-facebook:not(.is-outline),
.social-instagram:hover {
    background-color: #3a589d;
    color: white;
}

.social-instagram:not(.is-outline),
.social-instagram:hover {
    background-color: #3a589d;
    color: white;
}

@media (max-width: 768px) {
    .border-header {
        border: 0;
    }
    .menu-pc {
        display: none !important;
    }
    .menu-mobile {
        display: block !important;
    }
    .menu-mobile li {
        display: flex;
    }
}

.menu-mobile {
    display: none;
}

.mega-menu {
    border: 0;
    border-radius: 0;
}

.mega-menu .menu-pc {
    width: 100%;
    display: flex;
}

.mega-menu .menu-pc li {
    display: inline-block;
    font-size: 0.67rem !important;
}

.mega-menu .menu-pc li.mega-menu-column {
    width: 200px;
}

.mega-menu .menu-pc li.mega-menu-column ul {
    margin: 0 15px;
}

.mega-menu .menu-pc li.mega-menu-column .nav-header {
    margin-bottom: 7px;
    display: inline-block;
    text-transform: uppercase;
    color: #666;
    font-family: inherit;
    font-size: 10px;
}

.mega-menu .menu-pc li.mega-menu-column img {
    width: 100%;
    margin-bottom: 7px;
}


/* Disable Toggle style
********************************/


/* Dropdown Toggle on style */

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background: inherit;
    /* Set to inherit when using mouse hover to open dropdown */
    color: inherit;
}


/* Toggle off style */

.navbar .nav li.dropdown.open.active>.dropdown-toggle,
.navbar .nav>li.dropdown>a:focus {
    background: inherit;
    color: inherit;
}


/* Toggle hover */

.navbar .nav li.dropdown>.dropdown-toggle:hover,
.navbar .nav li.dropdown.open>.dropdown-toggle:hover {
    background-color: #DDDDDD;
}


/* Toggle caret*/

.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}


/* Toggle caret hover */

.navbar .nav li.dropdown>a:hover .caret,
.navbar .nav li.dropdown>a:focus .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}


/* Toggle caret active */

.navbar .nav li.dropdown.open>.dropdown-toggle .caret,
.navbar .nav li.dropdown.active>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}


/* Hover style
********************************/

.navbar .nav>li>a,
.mega-menu a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/
    -webkit-backface-visibility: hidden;
    /* Safari Flicker Fix #2 */
    -webkit-transform: translateZ(0);
}


/*list product*/

.list-product {
    position: relative;
    width: 100%;
}

.list-product-title {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.list-product-subtitle {
    width: 100%;
    border-bottom: 5px solid #fff4db;
    margin-bottom: 15px;
    bottom: 0;
}


/*product card*/

.card-product {
    width: 100%;
    overflow: hidden;
    border: 0;
    border-radius: 0;
    /* position: relative; */
    padding: 0 50px;
}

.card-color-right {
    background-color: #dfebf0 !important;
}

.card-color-right .card-lable-bg {
    background-color: #dfebf0;
}

.card-color-left {
    background-color: #fff4db !important;
}

.card-color-left .card-lable-bg {
    background-color: #fff4db;
}

.card-img-top {
    /* padding: 0 100px; */
}

.card-body {
    text-align: center;
    padding-top: 0;
}

.card-title {
    color: red;
    margin-bottom: 30px;
    font-weight: bold;
}

.card-text {
    font-weight: bold;
}

.card-body a {
    font-weight: 500 !important;
    text-transform: uppercase;
    text-decoration: underline !important;
}

.card-image {
    position: relative;
    width: 100%;
}

.card-image .card-layer {
    height: 300px;
}

.card-layer>* {
    position: absolute;
}

.card-image .card-layer .card-lable {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.card-image .card-layer .card-lable .card-lable-bg {
    display: inline-block;
    margin: 0 auto;
}

.card-image .card-layer .card-lable .card-lable-bg h2 {
    font-family: ArnhemFinePro-BoldItalic;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    line-height: 0;
}

.card-image .card-layer .card-lable .card-lable-bg h2 a {
    text-transform: none;
    min-height: 0;
    line-height: 1em;
    margin-top: 5px;
    text-transform: uppercase;
}

.section-content {
    z-index: 1;
    width: 100%;
}

.subscription-bottom {
    background-color: #eae8e3;
    /* padding-top: 2em; */
    padding: 200px 0;
}